@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: black; */
  color: white;
}

.left {
  width: 25vw;
}

.right {
  width: 74.7vw;
}

/* Left side home */

.home ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home ul li {
  list-style: none;
  width: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* left side library */

.library {
  position: relative;
  height: 80vh;
}

.library-head {
  gap: 15px;
}

.library-head img {
  width: 20px;
}

/* left side footer */

.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 15px 0;
}

.footer a {
  color: grey;
  font-size: 14px;
  text-decoration: none;
  word-spacing: -1px;
}

/* Right side header */

.right-head {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #080808;
  border-radius: 5px 5px 0px 0px;
}

.btns button {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}

.btns :first-child {
  background: none;
  color: white;
}

.arrow-btn {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-btn img {
  width: 15px;
  height: 15px;
}

/* right side playlists Card */

.spotify-playlist {
  padding: 0px 20px;

  /* scrollbar */
  max-height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;

  background: linear-gradient(to bottom, #222222 0%, #1a1a1a 10%, #121212 100%);
}

.spotify-playlist::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}


.card {
  width: 200px;
  height: 270px;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 7px;
  position: relative;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 7px;
}

.card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.card p {
  color: #9f9f9f;
  font-size: 14px;
}

.play-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 87px;
  /* change here */
  right: 17px;
  background-color: black;
  /* opacity: 0; */
  box-shadow: 0px 2px 2px black;
}