@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: black; */
  color: white;
}

.left {
  width: 25vw;
}

.right {
  width: 75vw;
}

.home ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home ul li {
  list-style: none;
  width: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.library {
  position: relative;
  height: 80vh;
}

.library-head {
  gap: 15px;
}

.library-head img {
  width: 20px;
}

.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.footer a {
  color: grey;
  font-size: 14px;
}

.right-head {
  display: flex;
  justify-content: space-between;
}

.btns button {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 80px;
  font-weight: bold;
}

.btns :first-child {
  background: none;
  color: white;
}