@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: black; */
  color: white;
}

.left {
  width: 25vw;
}

.right {
  width: 74.7vw;
}

/* Left side home */

.home ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home ul li {
  list-style: none;
  width: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* left side library */

.library {
  position: relative;
  height: 80vh;
}

.library-head {
  gap: 15px;
}

.library-head img {
  width: 20px;
}

/* left side footer */

.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 0;
}

.footer a {
  color: grey;
  font-size: 14px;
  text-decoration: none;
  word-spacing: -1px;
}

/* Right side header */

.right-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #080808;
  border-radius: 5px 5px 0px 0px;
  height: 60px;
}

.btns button {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
}

.btns :first-child {
  background: none;
  color: #b3b3b3;
}

.btns :first-child:hover {
  color: white;
  transform: scale(1.04);
}

.btns :last-child:hover {
  transform: scale(1.04);
  background-color: #f0f0f0;
}

.arrow-btn {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-btn img {
  width: 15px;
  height: 15px;
}

/* right side playlists Card */
.cards-contain {
  overflow: auto;
  max-height: 75vh;
}

.spotify-playlist {
  padding: 0px 20px;
  background: linear-gradient(to bottom, #222222 0%, #1a1a1a 10%, #121212 100%);
}

.card {
  width: 200px;
  height: 270px;
  padding: 10px;
  background-color: transparent;
  border-radius: 7px;
  position: relative;
  transition: all 0.5s ease;
}

.play-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  bottom: 75px;
  right: 17px;
  background-color: black;
  opacity: 0;
  box-shadow: 2px 2px 5px rgb(41, 41, 41);
  transition: all 0.2s ease;
}

.card:hover .play-btn {
  opacity: 1;
  bottom: 87px;
}

.card:hover {
  background-color: #1f1f1f;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 7px;
}

.card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.card p {
  color: #9f9f9f;
  font-size: 14px;
}

/* right side playbar */
.playbar {
  width: 100%;
  height: 50px;
  margin: 4px auto;
  border: none;
  background: linear-gradient(to bottom, #1f1f1f, #131313);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.song-btns img {
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.song-btns img:hover {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0));
  transform: scale(1.1);
}

/* left side song list */
.song-info {
  font-size: 12px;
  width: 180px;
}

.song-list ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 10px;
}

.song-list {
  max-height: 65vh;
  overflow: auto;
}

.song-playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}