.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.just-center {
  justify-content: center;
}

.fw {
  flex-wrap: wrap;
}

.just-sbeet {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-grey {
  background-color: #121212;
}

.mtb5 {
  margin: 5px 0;
}

.mtb10 {
  margin: 10px 0;
}

.ptb10 {
  padding: 10px 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.bor-rad-5 {
  border-radius: 5px;
}

.g15 {
  gap: 15px;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}










/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  /* dark track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4e4e50, #6c6c6e);
  /* gradient thumb */
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  /* space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6c6c6e, #a0a0a0);
  /* brighter on hover */
}